@import "clearsans.css";
@import "normalize.css";
@import "reset.css";
@import "variables";
body {
  font: $font;
}
* {
  box-sizing: border-box
}
.container {
  width: 1170px;
  margin: 0 auto;
}
header {
  height: 163px;
  background: $color__white;
  padding-bottom: 5px;
}
.header__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 9px 0;
}
.logo {
  width: 229px;
  &__img {
    width: 100%;
    height: auto;
  }
}
.caption {
  width: 375px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #3A4047;
  span {
    font-weight: 600;
    color: #3A4047;
  }
}
.personalArea {
  width: 129px;
  padding-top: 5px;
  a {
    color: #3A4047;
  }
}
.box__contacts {
  width: 216px;
  padding-top: 5px;
  position: relative;
}
.link__layout {
  padding-bottom: 20px;
  a {
    color: #3A4047;
  }
}
.box__cart {
  width: 44px;
  height: 44px;
  position: absolute;
  right: 20px;
  top: 12px;
}
.wrap__cart {
  width: 44px;
  height: 44px;
  position: relative;
  img {
    width: 100%;
  }
}
.cart__radius {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background: $color__lightBlue;
  position: absolute;
  top: -8px;
  right: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  h4 {
    text-align: center;
    color: $color__white;
  }
}
.mobile {
  position: relative;
  width: 130px;
  height: 22px;
  padding: 3px 0;
  &__icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    left: -61px;
    width: 50px;
    height: 20px;
    img:nth-child(2n-1) {
      width: 11px;
      height: 20px;
    }
    img:nth-child(3n-1) {
      width: 20px;
      height: 20px;
    }
  }
}
.dropMenu {
  position: absolute;
  width: 20px;
  top: 0;
  right: -5px;
  &--item {
    position: relative;
    width: 20px;
  }
  li:hover .submenu {
    visibility: visible;
  }
}
.submenu {
  top: 44px;
  left: -187px;
  width: 219px;
  height: 167px;
  position: absolute;
  visibility: hidden;
  padding-top: 31px;
  padding-left: 65px;
  padding-right: 2px;
  z-index: 1;
  background-color: $color__white;
  box-shadow: 0 4px 45px rgba(0, 0, 0, 0.15);
  &__item {
    position: relative;
    margin-bottom: 20px;
    img {
      position: absolute;
      top: -3px;
      left: -37px;
    }
    p {
      font-size: 16px;
      line-height: 19px;
      color: #3A4047;
    }
  }
}
.trigon__position {
  position: relative;
}
.wrap__trigon {
  width: 28px;
  height: 28px;
  top: -35px;
  right: 6px;
  position: absolute;
  transform: rotate(-45deg);
  background-color: $color__white;
}
.mobileDropDown {
  width: 20px;
  height: 20px;
  background: #EDEDED;
  border-radius: 50px;
  padding-top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
hr {
  border: 1px solid $color__white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.menu-icon {
  display: none;
  z-index: 5;
  position: absolute;
  top: 30px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  &-line {
    position: relative;
    width: 30px;
    height: 5px;
    background-color: darkseagreen;
    &::before {
      position: absolute;
      left: 0;
      top: -10px;
      content: '';
      width: 30px;
      height: 5px;
      background-color: darkseagreen;
    }
    &::after {
      position: absolute;
      left: 0;
      top: 10px;
      content: '';
      width: 30px;
      height: 5px;
      background-color: darkseagreen;
    }
  }
}
.menu-icon.menu-icon-active .menu-icon-line {
  background-color: transparent;
}
.mobile-nav {
  display: none;
  background: #ffffff;
  border: 2px solid darkseagreen;
  &__list {
    padding-left: 30px;
  }
  &__item {
    margin-bottom: 5px;
    a {
      font-size: 14px;
      line-height: 1;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 600;
      color: #3A4047;
    }
  }
}
.nav__menu {
  padding: 13px 0;
  position: relative;
}
.block__search {
  position: absolute;
  right: 0;
  top: 13px;
  border-left: 1px solid #E8EDF2;
  padding-left: 25px;
}
.menu__item {
  width: calc(100% - 50px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 25px;
}
.list__item {
  a {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    color: #3A4047;
    &:hover {
      border-top: 1px solid $color__lightBlue;
      color: $color__lightBlue;
      padding-top: 22px;
      cursor: pointer;
    }
  }
}
.front__page {
  background-image: url(../images/Rectangle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  padding-top: 153px;
  padding-bottom: 141px;
}
.title__page {
  padding-bottom: 10px;
  h1 {
    font-size: 57px;
    line-height: 67px;
    text-align: center;
    color: $color__white;
  }
}
.line__center {
  border: 1px solid $color__white;
  width: 120px;
  margin: 0 auto;
}

.subtitle__page {
  padding-top: 15px;
  padding-bottom: 27px;

  h2 {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: $color__white;
  }
}
.btn {
  display: flex;
  justify-content: center;
  button {
    background: $color__lightBlue;
    border-radius: 2px;
    width: 200px;
    height: 48px;
    border: none;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: $color__white;
  }
}
.features__page {
  background: $color__white;
  padding-top: 29px;
  padding-bottom: 49px;
}
.wrapper {
  &:nth-child(2n-1) {
    padding-bottom: 32px;
  }
  &:nth-child(2n) {
    padding-bottom: 46px;
  }
}
.block__title {
  h2 {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #3A4047;
  }
}
.block__text {
  padding-top: 13px;
  h3 {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #3A4047;
    padding-bottom: 34px;
    p {

      color: #3A4047;
    }
  }
}
.wrap {
  display: flex;
  justify-content: space-between;
  &__news {
    margin-top: 50px;
  }
}
.box__production {
  width: 370px;
  height: 291px;
  border: 1px solid #DCE1E6;
  padding: 25px 28px 26px 120px;
  position: relative;
  img {
    position: absolute;
    top: 29px;
    left: 25px;
  }
  h4 {
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    align-items: center;
    text-transform: uppercase;
    color: #3A4047;
    padding-bottom: 24px;
  }
}
.items {
  height: calc(100% - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__double {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &--sidebar {
    height: calc(100% - 110px);
    padding-right: 25px;
  }
}
.item > a {
  color: #3A4047;
}
.block__news {
  padding: 29px 18px 31px 14px;
  &:hover {
    padding-top: 28px;
    border-top: 1px solid $color__lightBlue;
    cursor: pointer;
  }
  span {
    display: block;
    text-align: center;
    color: #BEC7D1;
    padding-bottom: 14px;
  }
}
.block__news:hover .text__decoration {
  text-decoration: underline;
  color: $color__lightBlue;
}
.text__decoration {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #3A4047;
}
.button__wrapper {
  display: flex;
  justify-content: center;
  padding-top: 51px;
  button {
    background: $color__white;
    border: 1px solid $color__lightBlue;
    box-sizing: border-box;
    border-radius: 2px;
    text-align: center;
    color: $color__lightBlue;
    padding: 6px 21px;
  }
}
footer {
  background: url(../images/bg-footer.png), #F7F7F7;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.05);
  height: 159px;
}
.container--position {
  height: 100%;
  position: relative;
}
.footer__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 9px 0;
}
.footer__top .logo {
  width: 229px;
}

.callBack {
  width: 108px;
  height: 108px;
  border-radius: 100px;
  background: $color__lightBlue;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  &__main {
    top: -89px;
    right: -120px;
  }
  &__footer {
    top: -55px;
    right: -120px;
  }
  h4 {
    text-align: center;
    color: $color__white;
    padding-top: 5px;
  }
}
.copy {
  position: absolute;
  bottom: 32px;
  left: 0;
  color: #3A4047;
}

.caption__footer {
  width: 261px;
  h4 {
    font-size: 16px;
    line-height: 19px;
    color: #3A4047;
    padding-bottom: 18px;
    span {
      color: #3A4047;
      padding-top: 18px;
    }
  }
}
.footer__menu {
  width: 325px;
  display: flex;
}
.menu__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &:nth-child(2n) {
    padding-left: 67px;
  }
}
.menu__list > li > a, .contacts {

  line-height: 21px;
  text-align: center;
  color: #3A4047;
}
.contacts {
  position: absolute;
  top: 39px;
  right: 0;
}
.box__contacts--width {
  width: 135px;
  padding-top: 5px;
}
.box__img {
  position: absolute;
  right: 0;
  bottom: 24px;
  span {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    color: #3A4047;
  }
}
@media (max-width: 1410px) {
  .container{
    width: 960px;
  }
  .callBack__main {
      top: -89px;
      right: 1px;
    }
  .callBack__footer {
      top: -115px;
      right: 1px;
    }
  }
.footer__top .logo {
  width: 200px;
}
.logo>img{
  width: 150px;
  height: auto;
}

@media (max-width: 991px) {

  .nav__menu {
    display: none;
  }

  .header__sidebar {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .mobile-nav--show {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 4;
  }

  .mobile-nav--hide {
    display: none;
  }

  .mobile-nav__item--hidden {
    display: none;
  }

  .container {
    width: 720px;
    margin: 0 auto;
  }

  .header__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 9px 45px 9px 0;
  }

  .title__page > h1 {
    font-size: 34px;
    line-height: 1;
  }

  .block__title > h2 {
    font-size: 30px;
    line-height: 1;
  }

  .block__title > h2 {
    font-size: 25px;
    line-height: 1;
  }

  .block__text {
    padding: 15px;
  }

  .block__text > h3 {
    font-size: 18px;
    line-height: 1;
    padding-bottom: 24px;
    text-align: center;
  }

  .block__text > p {
    font-size: 16px;
    line-height: 1;
    text-align: center;
  }

  .callBack {
    display: none !important;
  }

  .wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .box__production:nth-child(2n-1) {
    margin-bottom: 15px;
  }

  .box__production:nth-child(2n) {
    margin-bottom: 15px;
  }

  .block__news {
    padding: 29px 18px 31px 14px;
    width: 370px;
  }

  .text__decoration {
    font-size: 14px;
    line-height: 1;
  }

  .footer__top {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
    padding: 9px 0;
  }

  .footer__menu {
    display: none;
  }

  .contacts {
    display: none;
  }

  .box__contacts--width {
    display: none;
  }

  .footer__top .logo {
    width: 120px;
  }

  .logo > img {
    width: 100%;
  }

  .container--position {
    padding: 0 10px;
  }

  .caption__footer {
    width: 100%;
    padding: 0 30px;
  }

  .caption__footer > h4 {
    font-size: 14px;
    padding-bottom: 5px;
  }

  .caption__footer > span {
    font-size: 14px;
    padding-top: 5px;
  }

  .box__img {
    right: 5px;
    bottom: 5px;
  }

  .box__img > span {
    font-size: 10px;
    line-height: 1;
  }

  .copy {
    right: 5px;
    left: revert;
    bottom: 22px;
    font-size: 10px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 540px;
    margin: 0 auto;
  }

  .mobile-nav__item--hidden {
    display: none;
  }

  .title__page > h1 {
    font-size: 25px;
    line-height: 1;
  }

  .subtitle__page > h2 {
    font-size: 20px;
    line-height: 1;
  }

  .box__img {
    right: 5px;
    bottom: 5px;
  }

  .box__img > span {
    font-size: 10px;
    line-height: 1;
  }

  .copy {
    right: 5px;
    left: revert;
    bottom: 22px;
    font-size: 10px;
  }

}

@media (max-width: 575px) {
  .container {
    width: 100vw;
  }

  .header__top {
    display: flex;
    flex-direction: column;
    padding: 9px 45px 9px 0;
  }

  .logo {
    margin: 0 auto;
  }

  .caption {
    width: 330px;
    font-size: 14px;
    line-height: 1;
    margin: 7px auto;
  }

  .mobile-nav__item--hidden {
    display: block;
  }

  .mobile-nav__sidebar {
    display: none;
  }

  .title__page > h1 {
    font-size: 16px;
    line-height: 1;
  }

  .subtitle__page > h2 {
    font-size: 14px;
    line-height: 1;
  }

  .line__center {
    width: 70px;
  }

  .box__production {
    width: 300px;
    height: 291px;
    border: 1px solid #DCE1E6;
    padding: 15px 15px 13px 85px;
    position: relative;
  }

  .box__production > img {
    width: 40px;
    height: auto;
  }

  .block__news {
    padding: 20px 18px 20px 14px;
    width: 280px;
  }

  .caption__footer {
    padding: 0 5px;
  }

  .caption__footer > h4 {
    font-size: 12px;
  }

  .caption__footer > span {
    font-size: 12px;
  }
}

